[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

scrapy = "*"
jupyter = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
"beautifulsoup4" = "*"
ipykernel = "*"
dirtyclean = "*"
requests = "*"
nltk = "*"
wikipedia = "*"
sklearn = "*"


[dev-packages]



[requires]

python_version = "3.6"
